<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:name=".customer.BloomApplication" android:networkSecurityConfig="@xml/network_security_config" android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.Bloom">

        <activity android:name=".customer.ui.splash.SplashActivity" android:exported="true" android:theme="@style/Theme.Bloom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.truecaller.android.sdk.ClientId"
            android:value="p1neytsiar1dvxogkaahekmp5uv4svgiomyxfooumjc"/>

        <activity android:name=".customer.ui.onboarding.OnboardingActivity" />

        <activity android:name=".customer.ui.auth.LoginActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".customer.ui.auth.OtpVerifyActivity" />
        <activity android:name=".customer.ui.home.HomeActivity" />
        <activity android:name=".customer.ui.home.ShopMapActivity" />
        <activity android:name=".customer.ui.home.InAppCallActivity" />
        <activity android:name=".customer.ui.location.ManualLocationActivity" />
        <activity android:name=".customer.ui.shop.ShopDetailActivity" />
        <activity android:name=".customer.ui.product.ProductDetailActivity" />
        <activity android:name=".customer.ui.cart.CartActivity" />
        <activity android:name=".customer.ui.checkout.AddressSelectActivity" />
        <activity android:name=".customer.ui.checkout.AddAddressActivity" />
        <activity android:name=".customer.ui.checkout.DeliverySlotActivity" />
        <activity android:name=".customer.ui.checkout.PaymentActivity" />
        <activity android:name=".customer.ui.orderconfirmation.OrderConfirmationActivity" />
        <activity android:name=".customer.ui.ordertracking.OrderTrackingActivity" />
        <activity android:name=".customer.ui.notifications.NotificationActivity" />
        <activity android:name=".customer.ui.orderhistory.RateOrderActivity" />

        <activity android:name=".merchant.auth.MerchantLoginActivity" />
        <activity android:name=".customer.ui.support.SupportActivity" />
        <activity android:name=".customer.ui.support.HelpCenterActivity" />
        <activity android:name=".customer.ui.profile.OccasionsActivity" />
        <activity android:name=".customer.ui.profile.AddOccasionActivity" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${MAPS_API_KEY}" />

        <receiver android:name="com.razorpay.RzpTokenReceiver" android:exported="true">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" android:exported="false" android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".customer.ui.home.AllShopsActivity" android:exported="false" />
        <activity
            android:name=".customer.ui.bespoke.CreateBouquetActivity"
            android:exported="false" />
        <activity
            android:name=".agent.AgentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".agent.auth.AgentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".agent.DeliveryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".agent.AgentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".merchant.MerchantHomeActivity"
            android:exported="false" />
        
        <!-- FileProvider for sharing PDF Invoices -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>